<!-- <p>role-selection works!</p>
<h1>Salut</h1> -->

<div class="image"></div>

<h1 class="greetings">Hello, User</h1>

<h3 class="selection-caption">Please select your role:</h3> 

<div class="cards">
    <div class="card" style="width: 18rem; display: inline-block; float: left">
        <img src="../../assets/images/volunteer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Volunteer</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/hubs" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; display: inline-block; float: right;">
        <img src="../../assets/images/donate.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Donator</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/hubs" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>