<div class="image"></div>

<h1 style="position: absolute; color: black; margin-top: 5%; margin-left: 5%">Pick to donate one of the followings:</h1>

<div class="list-group" style="position: absolute; margin-top: 10%; margin-left: 5%; width: 20%;">
    <a href="#" class="list-group-item list-group-item-action">A first link item</a>
    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
</div>