.image{
    height:100vh;
    background-size:cover;
    width:100vw;
    background-image:url('../../assets/images/list.webp');
    background-position:50% 50%;
    position: absolute;
    // margin-top:0px;
  }